.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #067a45;
}

.btns {
  display: flex;
  gap: 32px;
}

.icons {
  display: flex;
  gap: 16px;
}
