################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Servo/.vs/Servo
backend/Servo/Servo/bin/Debug/roys_conf.ini
backend/Servo/Servo/bin/Release/roys_conf.ini
