.icon-button {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50%;
  background-color: #403e3e;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 46px;
    height: 46px;
    background-color: #f5f0e1;
    border-radius: 50%;
    padding: 0;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scale(0.95);
  }
}
