.footer-column h4 {
  font-size: 18px;
  margin-bottom: 12px;
  position: relative;
}

.footer-column .underline {
  content: '';
  display: block;
  width: calc(100%);
  height: 2px;
  background-color: #fff;
  margin-top: 8px;
}
.footer-column p,
.footer-column li {
  font-size: 14px;
  line-height: 1.6;
  max-width: 320px;
  list-style-type: none;
}
