.icon-btn {
  width: 50px;
  height: 50px;

  padding: 0; /* KRITIKUS */
  border-radius: 50%;

  background-color: #403e3e;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}
