.newsletter form {
  display: flex;
}

.newsletter input {
  width: 230px;
  height: 55px;

  padding: 0 12px;
  border: none;
}

.newsletter button {
  width: 120px;
  height: 55px;

  background: #ffffff;
  color: #0b7a4b;
  border: none;
  cursor: pointer;
}
