<div class="newsletter">
  <div class="social-icons">
    <a href="" target="_blank">
      <img [src]="ICONS.facebook" alt="facebook" />
    </a>
    <a href="" target="_blank">
      <img [src]="ICONS.instagram" alt="facebook" />
    </a>
    <a href="" target="_blank">
      <img [src]="ICONS.x" alt="facebook" />
    </a>
  </div>
  <p>Subscribe on our newsletter!</p>

  <form>
    <input type="email" placeholder="Your e-mail address" />
    <button type="submit">Send</button>
  </form>
</div>
