<div class="newsletter">
  <div class="social-icons">
    @for (social of socialLinks; track social.name) {
      <div class="social-icon-wrapper">
        @if (social.url) {
          <a [href]="social.url" target="_blank" [attr.aria-label]="social.name">
            <img [src]="social.icon" [alt]="social.name" />
          </a>
        } @else {
          <button
            class="social-icon-btn"
            (click)="toggleSocialTooltip(social.name)"
            [attr.aria-label]="social.name"
          >
            <img [src]="social.icon" [alt]="social.name" />
          </button>
          @if (activeSocialTooltip === social.name) {
            <div class="social-tooltip">
              {{ 'footer.no_social_link' | translate }}
            </div>
          }
        }
      </div>
    }
  </div>
  
  <p>{{ 'footer.newsletter' | translate }}</p>

  <form (ngSubmit)="onSubmit()">
    <input 
      type="email" 
      [placeholder]="'footer.emailPlaceholder' | translate"
      [(ngModel)]="email"
      name="email"
      required
    />
    <button type="submit">{{ 'footer.send' | translate }}</button>
  </form>
</div>
