.newsletter form {
  display: flex;
}

.newsletter input {
  width: 230px;
  height: 35px;

  padding: 0 12px;
  border: none;
  background-color: #131313;
}

.newsletter button {
  width: 80px;
  height: 35px;

  background: #ffffff;
  color: #131313;
  border: none;
  cursor: pointer;
}

input::placeholder {
  color: #ffffff;
}
.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}
