<div class="footer-main">
  <div class="footer-column">
    <h4>
      Copyright © 2025 Roy's shack
      <span class="underline"></span>
    </h4>

    <div class="content">
      <p class="small-text">
        The information, data or documents on the site are for informational purposes only
      </p>
    </div>
  </div>
  <div class="footer-column">
    <h4>
      Contact information
      <span class="underline"></span>
    </h4>

    <div class="content">
      <ul>
        <li>Contact@royshack.hu</li>
      </ul>
    </div>
  </div>
  <div class="footer-column">
    <h4>
      Follow us!
      <span class="underline"></span>
    </h4>

    <div class="content">
      <div class="social-icons">
        <i class="icon-facebook"></i>
        <i class="icon-instagram"></i>
        <i class="icon-x"></i>
      </div>
      <app-newsletter-form></app-newsletter-form>
    </div>
  </div>
</div>
