<div class="footer-main">
  <div class="footer-column">
    <h4>
      {{ 'footer.copyright' | translate: { year: currentYear } }}
      <span class="underline"></span>
    </h4>

    <div class="content">
      <p class="small-text">
        {{ 'footer.info' | translate }}
      </p>
    </div>
  </div>

  <div class="footer-column">
    <h4>
      {{ 'footer.contactInfo' | translate }}
      <span class="underline"></span>
    </h4>

    <div class="content">
      <ul>
        <li>{{ 'footer.email' | translate }}</li>
      </ul>
    </div>
  </div>

  <div class="footer-column">
    <h4>
      {{ 'footer.followUs' | translate }}
      <span class="underline"></span>
    </h4>

    <div class="content">
      <app-newsletter-form></app-newsletter-form>
    </div>
  </div>
</div>
