<div class="footer-main">
  <app-footer-column title="Copyright © 2025 Roy's shack">
    <p class="small-text">
      Az oldalon található információk, adatok, illetve dokumentumok kizárólag tájékoztató
      jellegűek...
    </p>
  </app-footer-column>

  <app-footer-column title="Kontakt információ">
    <ul>
      <li>Iroda helye</li>
      <li>contact@royshack.hu</li>
      <li>Telefon</li>
    </ul>
  </app-footer-column>

  <app-footer-column title="Kövessen minket!">
    <div class="social-icons">
      <i class="icon-facebook"></i>
      <i class="icon-instagram"></i>
      <i class="icon-x"></i>
    </div>

    <app-newsletter-form></app-newsletter-form>
  </app-footer-column>
</div>
